@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/PFDinTextCondPro-Regular.eot');
    src: url('../fonts/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCondPro-Regular.woff') format('woff'),
        url('../fonts/PFDinTextCondPro-Regular.ttf') format('truetype'),
        url('../fonts/PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/PFDinTextCondPro-Medium.eot');
    src: url('../fonts/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCondPro-Medium.woff') format('woff'),
        url('../fonts/PFDinTextCondPro-Medium.ttf') format('truetype'),
        url('../fonts/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marvin';
    src: url('../fonts/Marvin.eot');
    src: url('../fonts/Marvin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Marvin.woff') format('woff'),
        url('../fonts/Marvin.ttf') format('truetype'),
        url('../fonts/Marvin.svg#Marvin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lorenco';
    src: url('../fonts/Lorenco-Font4You.eot');
    src: url('../fonts/Lorenco-Font4You.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lorenco-Font4You.woff') format('woff'),
        url('../fonts/Lorenco-Font4You.ttf') format('truetype'),
        url('../fonts/Lorenco-Font4You.svg#Lorenco-Font4You') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'American Captain';
    src: url('../fonts/AmericanCaptain.eot');
    src: url('../fonts/AmericanCaptain.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AmericanCaptain.woff') format('woff'),
        url('../fonts/AmericanCaptain.ttf') format('truetype'),
        url('../fonts/AmericanCaptain.svg#AmericanCaptain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aveny T';
    src: url('../fonts/AvenyT.eot');
    src: url('../fonts/AvenyT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ave../fonts/nyT.woff') format('woff'),
        url('../fonts/AvenyT.ttf') format('truetype'),
        url('../fonts/AvenyT.svg#AvenyT') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--------------шрифты---------------*/